.container{
    margin: 15px;
}

.buttonLayout {
    position: absolute;
    bottom: 75px;
    right: 0;
  }
  
  .allowButton {
    background-color: #4164d8;
    border: none;
    color: white;
    padding: 10px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
  }
  