<div class="container">
        <div class="line-dot">
    
        </div>
        <h4>你的上班地點是？</h4>
    
        <input type="text" placeholder="地點">
    
    </div>
    
    <div class="buttonLayout">
        <label>下一步</label>
        <img src="assets/icon_arrow.png" alt="" (click)="btnClick()">
    </div>
    