<div class="container">
    <h2 class="title">讓我們提供更好的服務</h2>
    <p class="title-intro">允許開始定位及推送通知功能，讓你使用Hopper時更方便快捷！</p>

    <div class="subContainer">
        <i class='fas fa-location-arrow'></i>
        <div>
            <h5 class="subTitle">定位服務 </h5>
            <p class="subcontent">自動定位你的位置，讓你更方便快捷</p>
        </div>

    </div>

    <div class="subContainer">
        <i class='far fa-bell'></i>
        <div>
            <h5 class="subTitle">推送通知</h5>
            <p class="subcontent">預約進度提示及率先獲得優惠資訊</p>
        </div>
    </div>

</div>
<div class="buttonLayout">
    <button class="allowButton" (click)="btnClick()">允許</button>
</div>