
  
  .container{
    margin: 25px;
  }
  
  .title{
    font-family: PingFangTC-Semibold;
    font-size: 28px;
    color: #4164D8;
    letter-spacing: 1px;
    margin-top: 45%;
    margin-bottom: 10px;
  }
  
  .title-intro{
    font-family: PingFangTC-Light;
    font-size:14px; 
    width: 85%;
    line-height: 1.5;
    color: #3F4242;
    letter-spacing: 0;
    line-height: 22px;
  }
  
  .subTitle{
     font-family: PingFangTC-Medium;
     font-size: 20px;
     color: #3F4242;
     line-height: 9px;
     margin-bottom: 0px;
     margin-top: 25px;
     font-weight:normal;
  }
  
  .subContainer{
    display: inline-flex;
    margin: 0px;
    margin-bottom: 2px;
  }
  
  .subcontent{
    font-family: PingFangTC-Light;
    font-size: 14px;
    color: #3F4242;
    letter-spacing: 0;
  }
  
  i{
    weight: 20px;
    height: 20px;
    margin-right: 13px;
    padding: 10px 12px;
    background-color: white;
    border-radius: 50%;
    border: 1x solid grey;
    margin-top: 15px;
  }
  
  .buttonLayout{
    position:absolute;
    bottom:75px;
    right:0;
  }
  
  .allowButton{
    background-color: #4164D8;
    border: none;
    color: white;
    padding: 10px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
  }