<div class="container">
    <div class="arrowstyle">
        <img class="icon-arrow" (click)="backPage()" src="assets/icon_arrow.svg"/>
   </div> 
    <div>
        <h1 class="heading">登入帳戶</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label class="input">連絡電話</mat-label>
              <input matInput placeholder="6789 1234" >
            </mat-form-field>
            <p class="ps">我們將傳送驗證碼到此聯絡電話</p>
          </form>

          <mat-checkbox color="primary" class="agree">我同意 <a class="agreelink" href="">條款及細則</a>  和 <a class="agreelink" href="">私隱條例</a></mat-checkbox>  
    </div>


</div>

<div class="buttonLayout">
    <button class="allowButton" (click)="btnClick()">下一步</button>
</div>