.container{
    margin: 25px;
}
  
  .titleqa1{
    font-size: 28px;
    color: #4164D8;
    letter-spacing: 1px;
    margin-top: 35%;
    margin-bottom: 3%;
  }

  .everweek{
    font-size: 14px;
    color: #4164D8;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  .date{
    width: 50%;
    font-size: 18px;
    color: #3F4242;
    display: flex;
    margin-top: 5%;
  }

  .finish{
    font-size: 18px;
    color: #4164D8;
    margin-right: 20px;
  }


.buttonLayout {
    position: absolute;
    bottom: 75px;
    right: 0;
    display: flex;
    align-items: center;
  }

.round{
    background-color: #4164d8;
    border-radius:999em;
    border: none;
    padding: 15px 15px;
    text-align: center;
    cursor: pointer;
    margin-right: 25px;
}

.checkboxStyle{
  margin-top: 15px;
}

.cols{
  display: flex;
}

.col1{
  margin: 8px;
  margin-left: 0px;
}

.col1:first-child{
  margin-top: 0px;
}

.col2{
  margin: 8px;
  margin-left: 30%;
}

.col2:first-child{
  margin-top: 0px;
}

mat-form-field:first-child{
  margin-right: 15%;
}

mat-form-field{
  width: 40%;
}

mat-label{
  color:#4164d8;
}

.timeSelect{
  margin-top: 7%;
}