<div class="container">

        <h4 class="titleqa1">請問你的上班和<br>下班時間是？</h4>
    
        <div class="timeSelect">
            <mat-form-field>
                <mat-label>上班時間</mat-label>
                <mat-select>
                  <mat-option *ngFor="let workTime of workTimeOptions" [value]="workTime.value">
                    {{workTime.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>下班時間</mat-label>
                <mat-select>
                  <mat-option *ngFor="let workTime of workTimeOptions" [value]="workTime.value">
                    {{workTime.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="checkDate">
            <p class="everweek">每逢星期</p>
            <div class="cols">
                <div class="col1">
                    <mat-checkbox color="primary" class="checkboxStyle date" >星期一</mat-checkbox>
                    <mat-checkbox color="primary" class="checkboxStyle date" >星期二</mat-checkbox>
                    <mat-checkbox color="primary" class="checkboxStyle date" >星期三</mat-checkbox>    
                    <mat-checkbox color="primary" class="checkboxStyle date" >星期四</mat-checkbox>           
                </div>
                <div class="col2">
                    <mat-checkbox color="primary" class="checkboxStyle date" >星期五</mat-checkbox>
                    <mat-checkbox color="primary" class="checkboxStyle date" >星期六</mat-checkbox>
                    <mat-checkbox color="primary" class="checkboxStyle date" >星期日</mat-checkbox>
                </div>
            </div>
        </div>
         
    </div>
    
    <div class="buttonLayout">
        <label class="finish">完成</label>
<div class="round" >
        <img src="assets/icon_arrow-right.svg" alt="" (click)="btnClick()" >
      </div>
    </div>
    