.container{
    margin: 25px;
}

.line-dot {
  margin-top: 20%;
  position: relative;
  overflow: visible;
  width: 20%;
  border-top: 2px dashed #E2E2E2;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #B2C4FF;
  margin-right: 5%;
  z-index: 1;
}

.dot-2 {
  left: 50%;
  background: #c8c8c8;
}

.dot-3 {
  left: 100%;
  background: #c8c8c8;
}

.topword{
  font-size: 14px;
  color: #3F4242;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 8%;
}

.location{
  font-size: 28px;
  color: #4164D8;
  letter-spacing: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
}

input::placeholder {
  color: #c8c8c8;
  font-size: 1rem;
}

.buttonLayout {
    position: absolute;
    bottom: 75px;
    right: 0;
  }
  
  .allowButton {
    background-color: #4164d8;
    border: none;
    color: white;
    padding: 10px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
  }
  