<div class="container">
    <div class="line-dot">
         <div class="dot dot-1">  </div> 
         <div class="dot dot-2">  </div>
         <div class="dot dot-3">  </div> 
     </div>
    <p class="topword">為更了解你的需求，我們希望聆聽你的分享</p>
    <h4 class="location">你的上班地點是？</h4>

    <input type="text" placeholder="地點">

</div>

<div class="buttonLayout">
    <label>下一步</label>
    <img src="assets/icon_arrow.png" alt="" (click)="btnClick()">
</div>
