.heading{
    font-size: 28px;
    color: #4164D8;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 40%;
}

.loginimage{
    position: absolute;
    top: 200px;
    left: -110px;
    z-index: -1;
}

.btn{
    margin: 0;
    position: absolute;
    bottom: 75px;
    right: 20px;
}

.btn_new{
    background-color: #4164D8;
    width: 160px;
    height: 60px;
    color:white;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    border: none;
    text-align: center;
    margin-right: 10px;
}

.btn_existing{
    background-color: transparent;
    width: 160px;
    height: 60px;
    color:rgb(39, 81, 219);
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    border: solid 1px #4164D8;
    text-align: center;
    margin-left: 10px;
    margin: 0;
}