<h1 class="heading">歡迎來到HOPPER</h1>
<img class="loginimage" src="assets/loginimage.svg"/>
<div class="btn">
    <button class="btn_new" (click)="newMember()">成為新會員</button>
    <button class="btn_existing" (click)="haveMember()">現有會員</button>
</div>