.container {
  margin: 25px;
}

.arrowstyle{
  margin-top: 24%;
}

.thxWords {
  margin-top: 0%;
}

.topword{
  font-size: 14px;
  color: #3F4242;
}

.verification{
  font-size: 28px;
  color: #4164D8;
  letter-spacing: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.square{
  margin-top: 5%;
  border: 1px solid #4164D8;
  border-radius: 4px;
  width:12%;
  height:50px;
  margin-right: 4%;
  text-align: center;
  font-size:1.2rem;
}

.resend{
  width:50%;
  height:40px;
  margin-top: 7%;
  background: #C8C8C8;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
  border-style: hidden;
}

.buttonLayout {
  position: absolute;
  bottom: 75px;
  right: 0;
}

.allowButton {
  background-color: #4164d8;
  border: none;
  color: white;
  padding: 10px 64px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
}
