
<div class="container">
       <div class="arrowstyle">
            <img class="icon-arrow" (click)="backPage()" src="assets/icon_arrow.svg"/>
       </div>    
    <div class="thxWords">
      <p class="topword">  
        我們已傳送4位數字的手機驗證碼至 6789 1234</p>
    </div>
    <h4 class="verification">輸入手機驗證碼</h4>
    <div class="squarelocation">
        <input class="square" type="text">
        <input class="square" type="text">
        <input class="square" type="text">
        <input class="square" type="text">
    </div>
    <button class="resend" (click)="btnClick()">重新發送驗證碼 (59秒)</button> 
   
</div>


<div class="buttonLayout">
    <button class="allowButton" (click)="btnClick()">確定</button>
</div>