.container{
    margin: 25px;
}

.title{
    display: flex;
    margin-bottom: 0;
}

.price{
    margin-right: 5px;
    margin-top: 15px;
}

.heading{
    font-size: 24px;
    color: #4164D8;
    letter-spacing: 0.86px;
    margin:0;
    margin-top: 15px;
}

.fromstyle{
    font-size: 20px;
    color: #3F4242;
    line-height: 20px;
}

.startPosition{
    margin-top: 0%;
    display: flex;
    align-items: baseline;
}

tr{
    border: none;
    background-color: white;
}

.headerColor{
    color: white;
    margin-bottom:10px;
}

table {
    width: 100%;
    border-spacing: 0;
    
}

th{
    padding: 15px;
    
}

td{
    padding: 15px;
    font-size: 16px;
    color: #3F4242;
    padding-top: 10px;
}

.placeStyle{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 20px;
}

.servesTime{
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
}
.textLeft{
    text-align: left;

}

.textRight{
    text-align: right;

}

.formFieldStyle{
    width: 100px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill){
    font-size: 20px;
    color: #3F4242;
    line-height: 20px;
}
.textstyle{
    font-size: 14px;
    color: #3F4242;
    letter-spacing: 0;
    line-height: 22px;
}

.whiteSpace{
    background-color: white;
}

.tdSpace{
    height: 10px;
    padding: 0px;
}