<div class="container">
  <div class="arrowstyle">
    <img class="icon-arrow" (click)="backPage()" src="assets/icon_arrow.svg" />
  </div>
  <div class="title">
      <img class="price" src="assets/price.svg" />
    <h1 class="heading" >各區收費表</h1>
  </div>
  <div class="startPosition">
    <label class="fromstyle">從</label>
    <form>
        <mat-form-field class="formFieldStyle">
          <input type="text"
                 aria-label="Text"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <label class="fromstyle">出發</label>
  </div>
  <div class="priceTime">
    <table style="width:100%" *ngFor="let item of infoData">
      <tr class="headerColor" [style.background-color]="item.color">
        <th class="textLeft placeStyle">{{item.place}}</th>
        <th class="textRight servesTime" >服務時間 07:00-19:00</th>
      </tr>
      <tr class="whiteSpace"><td class="tdSpace"></td><td class="tdSpace"></td></tr>
      <tr *ngFor="let detail of item.detail">
        <td class="textLeft">至 {{detail.name}}</td>
        <td class="textRight">{{detail.price}}</td>
      </tr>
      <tr class="whiteSpace"><td class="tdSpace"></td><td class="tdSpace"></td></tr>
    </table>
  </div>
  <p class="textstyle">*以上價錢只供參考</p>
</div>
