<div class="container">
    <div class="thxWords">
       <img class="checkbox_on" src="assets/checkbox_on.svg"/>
       <label class="greenWord">多謝你的分享</label>
        <label class="topword">，請註冊會員開始使用Hopper</label>
    </div>
    <div>
        <h4 class="notify">註冊帳戶</h4>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label class="input">稱呼</mat-label>
              <input matInput placeholder="Alex Wong" >
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label class="input">連絡電話</mat-label>
              <input matInput placeholder="6789 1234" >
            </mat-form-field>
            <p class="ps">我們將傳送驗證碼到此聯絡電話</p>
          </form>

          <mat-checkbox color="primary" class="agree">我同意 <a class="agreelink" href="">條款及細則</a>  和 <a class="agreelink" href="">私隱條例</a></mat-checkbox>  
    </div>


</div>

<div class="buttonLayout">
    <button class="allowButton" (click)="btnClick()">允許</button>
</div>