.container {
  margin: 25px;
}

.topword{
  font-size: 14px;
  color: #3F4242;
}

.checkbox_on{
  margin-right:1%;
}

.greenWord {
  color: #40D0C5;
  font-size: 14px;
}

.notify{
  font-size: 28px;
  color: #4164D8;
  letter-spacing: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.thxWords {
  margin-top: 35%;
  display: flex;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.input{
  font-size: 14px;
  color: #4164D8;
}

.ps{
  font-size: 12px;
  color: #3F4242;
  margin-top:0;
}

.agree{
  font-size: 12px;
  color: #3F4242;
}

.agreelink{
  text-decoration: none;
  color:#4164D8;
}

.agreelink:link{
  color:#4164D8;
}


.mat-checkbox-inner-container {
 width: 14px;
}

.buttonLayout {
  position: absolute;
  bottom: 75px;
  right: 0;
}

.allowButton {
  background-color: #4164d8;
  border: none;
  color: white;
  padding: 10px 64px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
}
